.card{
    width: 100%;
    position: relative;
}

.card .image-container img{
    width: 100%;
    /* height: 350px; */
    height: 20rem;
    filter: grayscale(76%) brightness(66%) contrast(99%);
    -webkit-filter: grayscale(76%) brightness(66%) contrast(99%);
    -moz-filter: grayscale(76%) brightness(66%) contrast(99%);
    
}

.card .title{
    font-size: 18px;
    font-weight: 600;
}

.card .description{
    font-size: 15px;
    color: #929191;
}

.card #del{
    position: absolute;
    top: 6px;
    right: 8px;
    opacity: .5;
    }
.card #del:hover{
    opacity: .9;
} 

